@import url("https://use.typekit.net/jbz2iuj.css");


.container h1 {font-family: "flegrei", sans-serif;
  font-weight: 400;
  font-style: normal;}

.input-area button{
  font-family: "flegrei", sans-serif;
  font-weight: 400;
  font-style: normal;
}